@import url('https://fonts.googleapis.com/css?family=Amiri|Domine|Montserrat&display=swap');

*{
	box-sizing: border-box;
}


html, body{
	min-height: 100%;
}

body{
    margin: 0;
}

img{
    width: 100%;

}


.navbar h1 a{
    font-size: 40px;
    font-family: 'Domine';
    padding-right: 0;
}


.navbar{
    background: #CCC9E7;
    position: fixed;
    display: block;
    width: 100%;
    transition:top 0.3s;
}

.navbar a{
    float: right;
    display: block;
    padding: 35px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    font-family: 'Domine';
}

.navbar .logo a{
    color: black;
}

a:hover{
    color: #6C6F7D;
}

.navbar .active{
    color: #744253;
}

/* Text underline from https://codepen.io/jstn/pen/zuDst */

.navbar a {
    text-decoration: none;
    letter-spacing: 0.15em;
    position: relative;
  }

  .navbar .logo a{
    padding-top: 0px;
    padding-bottom: 0px;
  }
   .navbar a:after {    
    bottom: 0;
    content: "";
    display: block;
    /* height: 2px; */
    left: 50%;
    position: absolute;
    background: #C78283;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  
   .navbar a:hover:after { 
    width: 100%; 
    left: 0; 
  }

.logo{
    float: left;
}

nav{
    float: right;  
}

h1{
    font-family: 'Domine', sans-serif;
    font-size: 50px;
    color: #C78283;
}

.sample-web{
    padding: 200px 200px;
    background: #96BDC6;
}

.sample-web .item{
    margin: 18px;
}

.sample-web .item a img:hover{
    transform: scale(1.1);
}

.sample-photos{
    padding: 100px 100px;
    background: #D7BEA8;
}

.sample-art{
    padding: 100px 50px;
    background: #C78283;
}


/* flexbox photogrid from https://www.w3schools.com/css/tryit.asp?filename=trycss3_flexbox_image_gallery */
 .sample-photos.flex-container .item img{
    margin-top: 8px;
    vertical-align: middle;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: center;
}

.item{
    flex: 30%;
    max-width: 30%;
    padding: 0 4px;
}

footer{
    background-color: #CCC9E7;
    padding: 70px;
}

footer img{
    float: right;
    width: 7%;
}